@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit, ui-sans-serif, system-ui, -apple-system, sans-serif;
}

select,
input,
textarea {
    border: 1px solid #c2c2c2;
    outline-color: #7c3aed;
    border-radius: 6px;
}

.active {
    background-color: #ede9fe;
    border-color: #7c3aed;
    color: #4c1d95;
}
